<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Card</title>
</head>
<body>
<!--/*@thymesVar id="card" type="lgwarlick.cards.model.Card"*/-->
    <h1 th:text="'Card Name'">Card Name</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Card Name</th>
            <th>Card Text</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="card : ${card}">
            <td th:text="${card.id}">1</td>
            <td th:text="${card.name}">Blank Card</td>
            <td th:text="${card.cardText}">Blank Text</td>
        </tr>
        </tbody>
    </table>



</body>
</html>